# Ignore everything
*
*/**

# Whitelist what you need (sourcemaps excluded — dev-only, bloat the vsix)
!.vscodeignore
!dist/*.cjs
!media/*.js
!media/*.css
!media/*.svg
!media/*.png
!CHANGELOG.md
!LICENSE.txt
!README.md